langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langchain_anthropic
langchain-huggingface
langchainhub
langsmith
langgraph
grandalf
python-dotenv
# faiss-cpu
langchain_chroma
nltk
wikipedia
rich
pypdf