langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langchainhub
langchain_anthropic
langsmith
langgraph
grandalf
python-dotenv
faiss-cpu
langchain_chroma
nltk
wikipedia